{% extends 'inner-page.html' %}
{% load static %}

{% block nav %}
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2 style="font-weight: bolder;">CHANGE PASSWORD</h2>
          <ol>
            <li><a href="{% url 'change-password' %}">CHANGE PASSWORD</a></li>
            <li>CHANGE PASSWORD</li>
          </ol>
        </div>

      </div>
    </section>
    {% endblock %}


{% block content %}
<!-- <body style="background-color: rgb(7, 8, 85);"> -->

  <section id="appointment" class="appointment section-bg" style="background-color: rgb(7, 156, 119);">
  <div class="container" >

    <div class="section-title">
      <h2>Change Your Password Here</h2>
    </div>
    <p style="color: red;">{{msg}}</p>
    <form role="form" action="{% url 'change-password' %}" method="POST">
      {% csrf_token %}
    <div class="row">
      <div class="col-4">
        <label style="font-weight: bolder;">Old Password</label>
        <input type="password" name="opass" placeholder="Old Password" class="form-control" style="border: 2px solid rgb(17, 96, 121);">
      </div>
    </div>
      <br>
    <div class="row">
      <div class="col-4">
        <label style="font-weight: bolder;">New Password</label>
        <input type="password" name="npass" placeholder="New Password" class="form-control" style="border: 2px solid rgb(8, 75, 92);">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-4">
        <label style="font-weight: bolder
        ;">Confirm New Password</label>
        <input type="password" name="cpass" placeholder="Confirm New Password" class="form-control" style="border: 2px solid rgb(8, 75, 92);">
      </div>
    </div> 
    <br>
    <button class="btn btn-primary"><i class="fa fa-edit"></i> Update Password</button>
    </form>
  </div>

</section>
<!-- </body> -->

  {% endblock %}