{% extends 'inner-page.html' %}

  {% load static %}
  {% block nav %}
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2 style="font-weight: bolder;">VIEW FIRS </h2>
        <ol>
          <li><a href="{% url 'viewfir' %}">VIEW FIRS </a></li>
          <li>VIEW FIRS</li>
        </ol>
      </div>

    </div>
  </section>
  {% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">
  <title>
    My Cases
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="{% static 'assets/css/nucleo-icons.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/nucleo-svg.css' %}" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="{% static 'assets/css/nucleo-svg.css' %}" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="{% static 'assets/css/argon-dashboard.css' %}" rel="stylesheet" />
</head>
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <center><h4>FIR table</h4></center>
            </div>
            <br>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead style="background-color: rgb(8, 62, 99);">
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Person Name</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Criminal Name</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Phone</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Adress</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">FIR</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody style="background-color: rgb(10, 129, 165)
                  ;">
                    {% for one in fir %}
                    <tr>
                      <td>
                        
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{one.pname}}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{one.cname}}</p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class=" text-xs font-weight-bold">{{one.phone}}</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class=" text-xs font-weight-bold">{{one.date}}</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class=" text-xs font-weight-bold">{{one.address}}</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class=" text-xs font-weight-bold">{{one.fir}}</span>
                      </td>
                      <td class="align-middle text-center">
                        <span class=" text-xs font-weight-bold">
                        <input type="text" name="status" class="form-control" value="{% if one.status %}Completed {% else %}Pending {% endif %}" >
                      </span>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      
  <!--   Core JS Files   -->
  <script src="{% static 'assets/js/core/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/smooth-scrollbar.min.js' %}"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'assets/js/argon-dashboard.min.js' %}"></script>
</body>

</html>

<br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}